
*{
	box-sizing: border-box;
}
img{
	max-width: 100%;
}
body{
	margin: 0px;
	font-family: 'Berkshire Swash', cursive;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
.main{
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	height: 100vh;
}
.myName{
	color: #ffffff;
	letter-spacing: 3px;
	text-align: center;
	padding: 20px 0px;
}